:root {
	/* 用于背景色（标题） */
	--c1: rgb(203, 172, 151);
	/* 用于背景色 */
	--c2: rgb(243, 231, 217);
	/* 用于背景色（通常文本区域） */
	--c3: rgb(255, 224, 193);
	/* 用于边框色  */
	--c4: rgb(255, 133, 20);
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(203, 172, 151,0.8);
	--c2a: rgba(243, 231, 217, 0.8);
	--c3a: rgba(255, 224, 193, 0.8);
	--c4a: rgba(255, 133, 20, 0.8);
	--c5a: rgb(76, 88, 110,0.8);
}

#bgMain {
	background:url("../../images/theme/DaiwaAisaka.jpg") no-repeat;
	background-size:100%;
}