:root {
	/* 用于标题 */
	--c1: rgb(120, 200, 200);
	/* 用于背景色 */
	--c2: rgb(80, 200, 200);
	/* 用于边框色 ，备选 */
	--c3: rgb(175, 225, 225);
	/* 用于高亮边框和前景色  */
	--c4: rgb(34, 235, 235);
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(120, 200, 200, 0.8);
	--c2a: rgba(80, 200, 200, 0.8);
	--c3a: rgba(175, 225, 225, 0.8);
	--c4a: rgba(34, 235, 235, 0.8);
	--c5a: rgba(76, 88, 110,0.8);
}

#bgMain {
	background:url("../../images/theme/ErioTouwa.jpg") no-repeat;
	background-size:100%;
}