:root {
	/* 用于标题 */
	--c1: rgb(155, 157, 172);
	/* 用于提示色 */
	--c2: rgb(181, 181, 201);
	/* 用于边框色 ，备选 */
	--c3: rgb(100, 100, 100);
	/* 用于高亮边框和前景色  */
	--c4: rgb(130, 130, 130);
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(155, 157, 172,0.8);
	--c2a: rgba(181, 181, 201, 0.8);
	--c3a: rgba(100, 100, 100, 0.8);
	--c4a: rgba(130, 130, 130, 0.8);
	--c6a: rgba(76, 88, 110,0.8);
}

#bgMain {
	background:url("../../images/theme/AsunaYuuki.jpg") no-repeat;
	background-size:100%;
}