:root {
	/* 用于标题 */
	--c1: rgb(255, 255, 128);
	/* 用于提示色 */
	--c2: rgb(252, 216, 75);
	/* 用于边框色 ，备选 */
	--c3: rgb(180, 180, 0);
	/* 用于高亮边框和前景色  */
	--c4: rgb(155, 155, 50);
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(255, 255, 128, 0.8);
	--c2a: rgba(252, 216, 75, 0.8);
	--c3a: rgba(180, 180, 0, 0.8);
	--c4a: rgba(155, 155, 50, 0.8);
	--c5a: rgb(76, 88, 110,0.8);
}

#bgMain {
	background:url("../../images/theme/MamiTomoe.jpg") no-repeat;
	background-size:100%;
}