:root {
	/* 用于标题 */
	--c1: rgb(214, 161, 255);
	/* 用于提示色 */
	--c2: rgb(168, 133, 225);
	/* 用于边框色 ，备选 */
	--c3: rgb(155, 155, 255);
	/* 用于高亮  */
	--c4: rgb(128, 0, 255);
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(214, 161, 255, 0.8);
	--c2a: rgba(168, 133, 225, 0.8);
	--c3a: rgba(155, 155, 255, 0.8);
	--c4a: rgba(128, 0, 255, 0.8);
	--c5a: rgb(76, 88, 110,0.8);
}

#bgMain {
	background:url("../../images/theme/Neputune.jpg") no-repeat;
	background-size:100%;
}