:root {
	/* 用于标题 */
	--c1: rgb(181, 218, 230);
	/* 用于背景色 */
	--c2: rgb(176, 190, 217);
	/* 用于边框色 ，备选 */
	--c3: rgb(222, 222, 222);
	/* 用于高亮边框和前景色  */
	--c4: rgb(34, 203, 209);
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(181, 218, 230, 0.8);
	--c2a: rgba(176, 190, 217, 0.8);
	--c3a: rgba(222, 222, 222, 0.8);
	--c4a: rgba(34, 203, 209, 0.8);
	--c5a: rgba(76, 88, 110,0.8);
}

#bgMain {
	background:url("../../images/theme/ErioTouwa.jpg") no-repeat;
	background-size:100%;
}