:root {
	/* 用于标题 */
	--c1: rgb(115, 195, 10);
	/* 用于提示色 */
	--c2: rgb(50, 170, 50);
	/* 用于边框色 ，备选 */
	--c3: rgb(44, 135, 107);
	/* 用于高亮边框和前景色  */
	--c4: rgb(0, 225, 0);
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(115, 195, 10, 0.8);
	--c2a: rgba(50, 170, 50, 0.8);
	--c3a: rgba(44, 135, 107, 0.8);
	--c4a: rgba(0, 225, 0,0.8);
	--c5a: rgba(76, 88, 110,0.8);
}

#bgMain {
	background:url("../../images/theme/SanaeKochiya.jpg") no-repeat;
	background-size:100%;
}