:root {
	/* 用于标题 */
	--c1: rgb(255, 90, 90);
	/* 用于提示色 */
	--c2: rgb(255, 120, 120);
	/* 用于边框色 ，备选 */
	--c3: rgb(255, 175, 175);
	/* 用于高亮边框和前景色  */
	--c4: rgb(200, 70, 70); 
	/* 用于文字颜色 */
	--c5: rgb(76, 88, 110);
	--c1a: rgba(255, 90, 90,0.8);
	--c2a: rgba(255, 120, 120, 0.8);
	--c3a: rgba(255, 175, 175, 0.8);
	--c4a: rgba(200, 70, 70, 0.8);
	--c5a: rgba(76, 88, 110,0.8);
}


#bgMain {
	background:url("../../images/theme/Shana.jpg") no-repeat;
	background-size:100%;
}